.task1 {
    display: flex;
    align-items: center;
  }
  
  #myInput {
    margin-right: 10px;
  }
  
  #infoDiv {
    padding: 10px;
  }
  

.task2 {
    margin-top: 20px;
}

.task3{
    margin-top: 20px;
}
table{
    border-collapse: collapse;
}

table td{
    border: 1px solid #000;
}

.task4{
    margin-top: 20px;
}